@font-face {
    font-family: 'abc';
    src: local('Abc'),
        url('../static/fonts/Poppins-Regular.ttf') format("truetype");
}

body {
    padding-top: 1%;
}

.navbar-wrapper {
    background-color: #FFFFFF;
    padding: 2px;
}

.navbar {

    width: 20%;
    border: 1px solid;
    align: center;
    margin: auto;
    list-style-type: none;
    padding: 12px;


}

.navbar-item a {

    border: 1px solid;
}

.body {
    padding: 1%;
}
