{% extends "recipes/layout.html" %}

{% block title %} Add Cocktail {% endblock %}

{% block body %}
<h1>Add Cocktail</h1>
<hr>

    <div class="bigblock">
        <form action="{% url 'add_cocktail' %}" method="post">
            <div class="add_recipe" onkeydown="return event.key != 'Enter';">
                {% csrf_token %}

                <!-- Recipe Name -->
                <label for="recipe_name">Name of Cocktail:&nbsp&nbsp</label>
                <input type="text" id="recipe_name" name="recipe_name" size="44">
                <br>

                <!-- Ingredient List -->
                <label for="ingredient_1">Ingredient:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <input type="text" name="quantity_1" size="2" placeholder="e.g. 3">
                <input type="text" name="measurement_1" size="2" placeholder="Tbsp.">
                <input type="text" id="ingredient_1" name="ingredient_1" size="25" placeholder="Honey">

                <div id="ingredient_list">
                    <!-- To be filled by JavaScript -->
                </div>

                <!-- Add/Remove Ingredients Buttons -->
                <div id="add_ingredients_section">
                    <input type="hidden" value="1" id="total_number">
                    <button class="btn btn-secondary" type="button" onclick="add()">New Ingredient</button>
                    <button class="btn btn-secondary" type="button" onclick="remove()">Remove Ingredient</button>
                </div>

                <!-- Submit Form -->
                <button type="submit" id="submit_recipe" class="btn btn-success">Add Cocktail</button>

            </div>

            <div class="instruction_div">
                <label for="recipe_instructions">Instructions:</label>
                <textarea id="recipe_instructions" name="recipe_instructions" class="form-control" rows="15">Step 1:</textarea>
            </div>

        </form>
    </div>


{% endblock %}