{% extends "recipes/layout.html" %}

{% block title %} Add Recipe {% endblock %}

{% block body %}
<h1>Add Recipe</h1>
<hr>

    <div class="add_recipe">
        <form action="{% url 'add_recipe' %}" method="post" onkeydown="return event.key != 'Enter';">
            {% csrf_token %}

            <!-- Recipe Name -->
            <label for="recipe_name">Name of Recipe:</label>
            <input type="text" id="recipe_name" name="recipe_name">
            <br>

            <!-- Ingredient List
            <label for="ingredient_1">Ingredient:</label>
            <input type="text" id="ingredient_1" name="ingredient_1">
            -->

            <div id="ingredient_list">
                <!-- To be filled -->
            </div>

            <button class="add">New Ingredient</button>
            <button class="remove">Remove Ingredient</button>
            <input type="hidden" value="1" id="#total_number">


            <br>

            <div class="form-item">
                <button type="submit" class="btn btn-success" id="form-button-alignment">Add Recipe</button>
            </div>

        </form>
    </div>


{% endblock %}