{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'recipes/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- <script src="{% static '_js_functionality.js' %}"></script> -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

        <div class="header">
            <h1 align="center">food4u</h1>
        </div>

        <div class="navbar row">

            <a class="navbar-item col" href="">Home</a>

            <a class="navbar-item col" href="{% url 'recipes' %}">Recipes</a>

            <a class="navbar-item col" href="{% url 'ingredients' %}">Ingredients</a>

        </div>


    <div class="body">
        {% block body%}




        {% endblock %}
    </div>
</body>
</html>